<html>
<head>
	<title>WaterOneFlow in Python</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
	<p>Visit one of these pages to obtain {{p}} observations data and metadata from the REST/SOAP APIs for WOF written in Python.<br>


   <p>CUAHSI WaterOneFlow is defined as a SOAP service sending WaterML v1.x messages. Many clients only utilize
        the service location, or make assumptions about it's implementation.
        In these cases (like HIS central), use the Service location endpoint URL.</p>
    </p><table style="width: 750px;">
        <tr>
            <th>Service</th>
            <th>WSDL's location URL</th>
            <th>Service location endpoint URL</th>
        </tr>
        <tr>
            <td>SOAP service -- WaterML 1.0</td>
            <td><a href="{{request.script_root|safe}}/{{ soap10 }}.wsdl">
                        {{request.url_root|safe}}{{ soap10 }}.wsdl
                    </a> </td>
            <td><a href="{{request.script_root|safe}}/{{ soap10 }}">
                {{request.url_root|safe}}{{ soap10 }} </a> </td>
        </tr>
        <tr>
           <td>SOAP service -- WaterML 1.1</td>
            <td><a href="{{request.script_root|safe}}/{{ soap11 }}.wsdl">
                        {{request.url_root|safe}}{{ soap11 }}.wsdl
                    </a></td>
            <td><a href="{{request.script_root|safe}}/{{ soap11 }}">
                {{request.url_root|safe}}{{ soap11 }} </a> </td>
        </tr>
    </table>
    <p> You can test SOAP services with clients websites like <a href="http://www.service-repository.com/client/start">www.service-repository.com</a> or  applications like SOAPUI. Example SoapUI projects are found in the <a href='https://github.com/ODM2/WOFpy/tree/master/test'>test directory</a> of WOFPy github repository  </p>
<p> WOF Py also includes REST interfaces that respond with WaterML 1.x documents.</p>
	<ul>
		<li>
                    <a href="{{request.script_root|safe}}/{{ rest10 }}">
                        REST Service -- WaterML 1.0
                    </a>
                </li>
 		<li>
                    <a href="{{request.script_root|safe}}/{{ rest11 }}">
                        REST service -- WaterML 1.1
                    </a>
                </li>

        		<li>
                    <a href="{{request.script_root|safe}}/{{ rest2 }}">
                        WaterML 2
                    </a>
                </li>
	</ul>
    <p>version: {{ v }}</p>
</body>

</html>