<html>
<head>
	<title>WaterOneFlow in Python</title>
</head>
<body>
	<p>Visit one of these pages to obtain {{p}} observations data and metadata from the REST/SOAP APIs for WOF written in Python:</p>
	
	<ul>
		<li>
                    <a href="{{request.script_root|safe}}/{{ rest10 }}">
                        REST Service -- WaterML 1.0
                    </a>
                </li>
 		<li>
                    <a href="{{request.script_root|safe}}/{{ soap10 }}">
                        SOAP service -- WaterML 1.0
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/{{ rest11 }}">
                        REST service -- WaterML 1.1
                    </a>
                </li>
		<li>
                    <a href="{{request.script_root|safe}}/{{ soap11 }}">
                        SOAP service -- WaterML 1.1
                    </a>
                </li>
	</ul>

</body>

</html>